html{
  box-sizing: border-box;
}
html,
body{
  position: relative;
  overflow-x: hidden;
}
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $text;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
a{
  display: inline-block;
  color: inherit;
  height: fit-content;
  text-decoration: none;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
button{
  outline: none;
  background-color: transparent;
  border: none;
}
.title{
  color: $title;
  font-size: 30px;
  line-height: 1.06;
  font-weight: 500;
  margin-bottom: 10px;
}
.titleS{
  color: $title;
  font-size: 18px;
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 6px;
  font-weight: 500;
}
.link{
  font-size: 15px;
  line-height: 20px;
  color: $blue;
  font-weight: 700;
}
.container{
  max-width: 1016px;
  margin: 0 auto;
  padding: 0 24px;
}
.content{
  padding-top: 20px;
  margin-top: 72px;
}
.container-min{
  max-width: 662px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
